/*
Theme Name: SuevaFree
Theme URI: https://www.themeinprogress.com/sueva/
Description: Suevafree is a free responsive clean and corporate Tumblelog WordPress theme, perfect to manage your personal, lifestyle, travel, food, recipes or fashion blog. Now is ecommerce ready and is optimized to work with WooCommerce and Contact Form 7 plugins. The theme support all modern browsers like Firefox, Chrome, Safari, Opera and Internet Explorer 8, 9 and 10 and uses the most modern technologies like HTML5 and CSS3. 
Author: ThemeinProgress.
Author URI: https://www.themeinprogress.com
Version: 2.1.1
Tags: gray, light, black, orange, blue, pink, purple, yellow, green, two-columns, right-sidebar, left-sidebar, custom-background, custom-menu, threaded-comments, full-width-template, theme-options,responsive-layout, translation-ready, one-column, photoblogging, featured-images, full-width-template, post-formats
Text Domain: suevafree
Domain Path: /languages
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html

*/

html { 
	height:100%;
	min-height:100%;
}

body.custombody { 
	min-height:100%;
	height:100%;
	background-color:#f3f3f3;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ====================== START TYPOGRAPHY ====================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:'Raleway',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
body,
p,
li,
address,
dd,
blockquote { 
	color:#545252;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ul,
ol { 
	margin:0.8em 0 0.3em;
}   
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title { 
	font-family:'Roboto',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Roboto',Verdana, Geneva, sans-serif; 
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

code {
	display:block;
	#white-space:normal !important;
}
/* ====================== END TYPOGRAPHY ====================== */

/* ====================== START ELEMENTS ====================== */

a { 
	color:#616161;
	outline: none; 
	border:none;
	font-weight:normal; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}
a:hover {
	color:#d14a2b;
	border-bottom:dotted 1px;
	outline:none;
	text-decoration:none;
}
a.post-edit-link {  
	font-size:14px;
}
a.post-edit-link:hover {  
	color:#333;
}
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

::selection {
	background: #ff6644;
	color:#fff; 
	}
::-moz-selection {
	background: #ff6644;
	color:#fff; 
}

.select-menu {
	display:none;
	visibility:hidden;
}

span.messaggeok {
	font-weight:bold;
}
span.error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

.read-more { 
	display:block;
	margin:30px 0 0 0;
	text-align:center;
	text-decoration:none;
	border-bottom:none;
}

.read-more:hover {
	border-bottom:none;
}

.button {
	background:#ff6644;
	padding:10px 15px;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	text-align:center;
	position:relative;
	display:inline-block;
}

.button:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none;
	border-bottom:none;
}

.btn.right a {
	color:#616161;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

iframe, 
embed, 
object, 
video {
	max-width:100%;
}

button:hover ,
button:active ,
button:focus ,
input:hover ,
input:active ,
input:focus ,
textarea:hover ,
textarea:active ,
textarea:focus {
	outline:none !important;
	text-decoration:none !important;
}

#back-to-top {
	position:fixed;
	bottom:15px;
	right:15px;
	display:none;
}

#back-to-top i{
	padding:10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	color:#fff;
	border:solid 2px #444649;
	background:#2D3032;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	display:inline-block
}

#back-to-top i.open,
#back-to-top i:hover {
	cursor:pointer;
	background:#d14a2b;
	border:solid 2px #d14a2b;
	color:#fff;
}

/* ====================== END ELEMENTS ====================== */

/* ====================== START SECTIONS ====================== */

.header { 
	position:relative;
	text-align:center;
	margin:0 auto;
	padding:0;
}

#footer { 
	color:#fff;	
	background:url(assets/images/background/patterns/pattern2.jpg) repeat #333;
	border-top:solid 4px #ff6644;
	width:100%;
	position:absolute;
	bottom:0;
	margin:0
}

#wrapper {
	position: relative;
	min-height:100%;
}

#footer ul, 
#sidebar ul { 
	list-style:none;
	font-weight: normal;
	color:#fafafa;
	margin:0;
	padding:0;
}
#footer a { 
	line-height:1.9em;
	-webkit-transition: all .3s ease;
	font-family:'Raleway',Verdana, Geneva, sans-serif;
	font-size:14px;
}
#footer a:hover { 
	color:#d14a2b;
}

#footer p,
#footer a {
	color:#fff;
}

#footer p {
    margin: 0 0 10px;
}

#sidebar {
	margin-bottom:50px;
}

#sidebar .sidebar-box {
	padding:0 20px;
	background:#fff;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
	
.col-md-8.left-sidebar {
	float:right;
}
.col-md-8.right-sidebar {
	float:left;
}

/* ===============================================
   MARGINS
   =============================================== */

#sidebar {
	margin-bottom:50px;
}

#blog,
#blog .post-container,
#blog #sidebar,
.row.portfolio-grid,
#sidebar.sneak_sidebar .post-article,
.post-article.col-md-4,
.post-article.col-md-6 { 
	margin-bottom:25px;
}

#sidebar .post-container,
#sidebar.sneak_sidebar .post-article:last-of-type ,
#top_sidebar .post-container:last-of-type,
#header_sidebar .post-container:last-of-type {
	margin-bottom:0;
}

#sidebar h4.title { 
	padding: 0;
	margin: 0 0 20px 0;
	position:relative;
	text-align:left;
}

#footer h4.title { 
	margin: 0;
	padding: 20px 0;
}

#footer .textwidget { 
	font-size:12px;
	line-height:1.8em;
}

#footer select, 
#footer textarea,
#footer input[type="text"],
#footer input[type="password"],
#footer input[type="datetime"], 
#footer input[type="datetime-local"], 
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="email"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer .uneditable-input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:'Raleway',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}

#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	color:#fff;
}

#footer .copyright {
	padding: 10px 0 0 0;
	margin-top:10px;
	line-height:15px;
}
#footer .widget {
	border-bottom: solid 1px #ff6644;
	margin-right:-20px;
	padding: 0 0 10px 0;
}
/* LOGO */

#logo { 
	position:relative; 
	display:block;
	padding:60px 0 30px 0; 
	line-height:1.8em; 
}
#logo a { 
	font-family:'Allura',Verdana, Geneva, sans-serif; 
	font-size:70px; 
	color:#616161; 
	text-decoration:none; 
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 
#logo a:hover { 
	text-decoration:none;
	color:#ff6644;
	border-bottom:none;
}
#logo a span{
	font-family:'Raleway',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	display:block;
	text-align:center;
} 
#logo a img{
	margin-top:-10px;
	max-width:100%
} 


/* ====================== END SECTIONS ====================== */

/* ====================== START NAV ====================== */

/* MAIN NAV */

nav#mainmenu { 
	margin:0 0 50px 0; 
	padding:0; 
	text-align:center; 
	position:relative; 
	width:100%;
}
nav#mainmenu ul { 
	list-style:none; 
	margin:0;
	padding:0; 
	display:inline-block;
}
nav#mainmenu ul li {
	float:left; 
	position:relative; 
	display:block;
	text-align:right;
	padding-bottom:15px
}
nav#mainmenu ul li a   { 
	text-decoration:none; 
	display:block; 
	font-family:'Roboto',Verdana, Geneva, sans-serif;
	font-size:14px; 
	z-index:1; 
	margin:15px 15px 0 15px; 
	color:#616161; 
	font-size:15px; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	text-transform:uppercase;
	font-weight:500
}
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color:#ff6644;
	margin-bottom:1px;
}

nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	border-bottom:dotted 1px;
	margin-bottom:1px;
}


nav#mainmenu .sf-sub-indicator { 
	padding:0 0 0 10px; 
	float:right; 
	font-size:10px;
}
/* END MAIN NAV */

/* SUBMENU */

nav#mainmenu ul ul:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ff6644;
	top: -11px;
	left: 15px;
	z-index: 1000;
}

nav#mainmenu ul ul { 
	display:none; 
	position: absolute; 
	top:50px; 
	left:15px; 
	background:#fff; 
	z-index:1000;
	width:100%;
	min-width:190px;
	z-index:1000;
	border-top:solid 3px #ff6644;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
 
nav#mainmenu ul ul li { 
	position:relative; 
	margin:0;
	padding:0;
	line-height:1em;
	text-transform:none;
	width:100%;
	min-width:190px;
}
nav#mainmenu ul ul li a{ 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	border-top:solid 1px #ddd;
	border-bottom:none;
	padding:18px 15px;
	margin:0;
	text-transform:inherit; 
	text-shadow:inherit; 
	color:#333; 
	font-size:14px;
}

nav#mainmenu ul ul li a:hover, 
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current-menu-ancestor > a { 
	border-top:solid 1px #ff6644;
	border-bottom:none;
	margin-bottom:0;
	background:#ff6644; 
	color:#fff; 
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

nav#mainmenu ul ul li ul { 
	top:-3px; 
	left:192px; 
	border-top:solid 3px #c4c4c4;
}

nav#mainmenu ul ul li ul:before {
	display:none;
}

/* END SUBMENU */

/* ===============================================
   ALTERNATIVE MENU
   =============================================== */

nav#mainmenu.menubar:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: url(assets/images/menu/navbar.png) top left;
	top: 0;
	left: 0;
	z-index: 498;
}

nav#mainmenu.menubar:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: url(assets/images/menu/navbar.png) top left;
	bottom: 0;
	left: 0;
	z-index: 498;
}

/* ====================== END NAV ====================== */


/* ====================== START CONTENT ====================== */

.post-container { 
	margin-bottom:50px;
}

.post-container .post-article { 
	padding:45px;
	background:#fff; 
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	word-wrap: break-word
}
.post-container.col-md-4 .post-article { 
	padding:20px;
}
.row.masonry,
.post-container.col-md-4,
.post-container.col-md-6 { 
	margin-bottom:25px;
}
.post-container .attachment p { 
	text-align:center;
}
.post-container .attachment .entry-info { 
	width:120px;
}
.post-container .attachment .entry-info .entry-date { 
	margin:auto;
}

.post-container .post-article.link { 
	padding:0; 
}

.post-container .category p,
.post-container .search p { 
	margin:0;
}

.post-container .category,
.post-container .category p, 
.post-container .search,
.post-container .search p { 
	background:#333;
	color:#f1f1f1;
	font-size:21px;
	text-align:center
}
.post-container .category p a {
	color:#fff;
}

.post-container .wp-post-image {
	z-index:999;
}

.pin-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
}
.pin-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	bottom: 0px;
	left: 50%;
	margin-left:-10px;
	z-index:1000;
}

.post-article .title {
	font-style: normal;
	font-weight: normal;
	margin:0 0 15px 0;
	line-height:1.2em;
	text-align:center;
	position:relative;
	color:#616161;
	word-wrap: break-word
}

.post-article .title a {
	color:#616161;
}

.post-article .title a:hover {
	color:#d14a2b;
}

.post-container.col-md-4 .line {
	margin:30px 0 20px 0;
}

.post-container .separator:after {
	background:url(assets/images/separator.png) repeat;
	width:100%;
	height:5px;
	content: '';
	display: inline-block;
	margin:0;
}

.post-container .container-fluid {
	padding:0;
	margin: 0 0 45px 0;
}
.post-container .container-fluid:last-child {
	padding:0;
	margin: 0;
}

.article-header {
	font-family: 'Raleway', sans-serif;
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}

.embed-container {
	position: relative;
	max-height:100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed,
.embed-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

/* START COMMENT   */

.commentlist { 
	list-style:none;
	line-height:1px; 
	margin:0;
	padding:0;
}

.commentlist ul { 
	list-style:none; 
	padding:0; 
	margin:0;
}

.commentlist li .comment-respond {
	margin-bottom:50px;
}

.commentlist li:last-of-type .comment-respond {
	margin-bottom:0px;
}

.comment-container { 
	margin:0 0 45px 0; 
	padding:25px 15px; 
	font-family:'Raleway',Verdana, Geneva, sans-serif; 
	font-size:12px; 
	position: relative; 
	background:#fff;
	border:solid 1px #ddd;
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}
.comment-text {
	position:relative; 
	margin-left:110px;
	border-left:solid 1px #ddd;
	padding:0 0 0 15px;
	font-size:14px;
}

.comment-container .comment-date { 
	padding:10px 0;
}
.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author .author { 
	font-family: "Raleway", Times, serif; 
	font-size:18px; 
	display:block; 
	font-weight:bold;
}

.children li {
	margin-left:110px;
}
.comment-notes { 
	font-size:12px; 
	margin:-30px 0 25px 0;
}

h3#reply-title, 
h3.comments { 
	font-family: 'Roboto',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 5px 45px;
	height:45px;
	line-height:45px;
	background:url('assets/images/icons/comment.png') no-repeat center left; 
	margin:45px 0;
}
h3#reply-title small, 
.logged-in-as { 
	font-family: 'Roboto',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 14px !important;
	font-weight: bold;
	text-transform: uppercase;
	margin:-20px 0 40px 0;
}

.form-allowed-tags,
p.categories,
.comment-text p {
	font-size: 14px !important;
}

/* END COMMENT  */

/* ===============================================
   FORMS / COMMENT FORMS / CONTACT FORMS
   =============================================== */

div.wpcf7 img.ajax-loader {
	display:none;
}

div.wpcf7-response-output {
    margin: 2em 0 !important;
    padding: 1em !important;
}

div.wpcf7-validation-errors {
    border: 1px solid #f00 !important;
    color: #f00 !important;
}

div.wpcf7-mail-sent-ok {
    border: 1px solid #398f14 !important;
    color: #398f14 !important;
}

.wpcf7-form {
	margin:0 !important;
}

.searchform label {
	display:block;
}

.wpcf7-form input, 
.wpcf7-form select, 
.wpcf7-form textarea ,
.woocommerce-product-search input[type=search],
.contact-form input[type=text],
.contact-form textarea ,
.searchform input[type=text],
.searchform textarea ,
.comment-form input[type=text], 
.comment-form textarea {
	padding: 10px 2%;
	background:#fafafa;
	width: 100%; 
	margin:0 0 10px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:none;
	color:#616161;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wpcf7-form input[type=submit] ,
.woocommerce-product-search input[type=submit],
.contact-form input[type=submit] ,
.searchform input[type=submit] ,
.comment-form input[type=submit] {
	background:#ff6644;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-size:14px;
	text-align:center;
	position:relative;
	display: block;
	border:none;
	text-shadow:none;
	padding:10px 15px;
	width:inherit;
	margin:0 auto;
}

.wpcf7-form input[type=submit]:hover ,
.woocommerce-product-search input[type=submit]:hover,
.contact-form input[type=submit]:hover ,
.searchform input[type=submit]:hover ,
.comment-form input[type=submit]:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none
}

#searchform input[type=submit],
.woocommerce-product-search input[type=submit]{
	width: 25%;
	margin:0;
	padding: 10px 1%;
	display:inline-block;
}

#searchform input[type=text],
.woocommerce-product-search input[type=search]{
	width: 70%;
	margin:0 1% 0 0;
	padding: 10px 2%;
	display:inline-block;
}

#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus ,
#searchform input[type=search]:hover, 
#searchform input[type=search]:active, 
#searchform input[type=search]:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.logged-in-as a, 
#comments a {
	color:#616161;
}

.logged-in-as,
.comment-notes,
.comment-form-comment, 
.comment-form-author, 
.comment-form-email, 
.comment-form-url,
.form-submit { 
	display:block;
	text-align:center;
}

.contact-form span.messagge-sent {
	font-weight:bold;
}

.contact-form  span.messagge-error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

/* START DEFAULT ELEMENTS */

.post-article blockquote { 
	border-left: 4px solid #ff6644; 
	padding:0 35px; 
	position:relative; 
	margin-left:0px;
}

.post-article blockquote p { 
	text-align:left; 
	line-height:1.6em; 	
	font-family: "Raleway", Times, serif; 
	font-size:15px;
}
.entry-info ul { 
	display:inline; 
	list-style:none;
}
.entry-info li { 
	display:inline;
}
.entry-info a { 
	display:inline;
	color:#616161;
}
.tags { 
	font-weight:bold;
	background:#fff;
	padding:0 29px;
	
}
.tags a { 
	font-weight:normal;
}

#sidebar .line { 
	margin:20px 0;
}

.post-date {
	font-size:12px; 
	color:#fff; 
	text-align:left;
}

.day { 
	font-size:14px; 
	line-height:1.1em;
}

.archive { 
	margin:0;
}

.col-md-4 .entry-info,
.col-md-4 .entry-info.viewcomments {
	width:auto;
	background:none;
}
.col-md-4 .entry-info .entry-date, 
.col-md-4 .entry-info .entry-comments,
.col-md-4 .entry-info .entry-author,
.col-md-4 .entry-info .entry-audio, 
.col-md-4 .entry-info .entry-video,
.col-md-4 .entry-info .entry-standard,
.col-md-4 .entry-info .entry-gallery{
	display:block;
	text-align:center;
	width:inherit;
	padding:inherit;
	margin:5px auto;
}

/* END DEFAULT ELEMENTS */

/* START DEFAULT STYLE */

.entry-tags { 
	font-family: 'Raleway',Verdana, Geneva, sans-serif;
	font-size:14px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}
.entry-tags span { 
	font-weight:normal;
}

.line {
	position:relative;
	z-index: 998;
	display:block;
	margin:30px 0 40px 0;
	text-align:center;
	min-height:11px
}

.line:before {
	content: '';
	position: absolute;
	width: 100%;
	left:0;
	height: 1px;
	background: url(assets/images/background/dotted.png) repeat;
	z-index:-1;
	top:11px
}

.entry-info { 
	padding:0 10px; 
	font-family: 'Raleway',Verdana, Geneva, sans-serif;
	background:#fff;
	display:inline;
	position:relative;
}

.entry-info i {
	color: #717171;
	margin: 0 10px;
	font-size:14px;
	line-height:21px
}
.entry-info .entry-date,
.entry-info .entry-comments,
.entry-info .entry-author,
.entry-info .entry-standard { 
	width:90px;
}

/* END DEFAULT STYLE */

/* START IMAGE STYLE */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:558px !important; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:98%;
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* ===============================================
   WORDPRESS GALLERY SHORTCODE
   =============================================== */

.gallery {
	margin:15px auto;
}

.gallery .gallery-item {
	float:left;
	margin:0 10px 15px 0;
	text-align:center;
	position:relative;
	outline: 1px solid #ddd;
	border: 4px solid #fff;
	background: #fff;
	overflow:hidden;
}

.gallery-item .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	padding: 6px 0;
	bottom:0;
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	filter: alpha(opacity=0);
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery dl {
	margin:0;
}

.gallery br+br {
	display:none;
}

.gallery a {
	border-bottom:none;
}

.attachment img{
	display:block;
	margin:0 auto;
}    
p.list-tags {
	line-height:25px;
	margin-top:20px;
	border-top:1px solid #dcdbdb;
	padding:10px 0 10px 36px;
	background:url('assets/images/icons/article.png') left 15px no-repeat;
}
.post-article .overlay-image { 
	position:relative; 
	overflow:hidden;
}
.overlay-image .overlay{ 
	opacity: 0; 
	filter: alpha(opacity=0);
	border:none;
}
.overlay-image .wp-post-image { 
	border:solid 1px #ddd;
	padding:4px;
	max-width:100%;
	max-height:100%;
}
.overlay-image .wp-post-image:hover { 
	-moz-transform:	none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}
.wp-post-image { 
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
	max-width:100%;
	width:100%;
	height:auto;
}
.wp-post-image:hover { 
	-moz-transform: rotate(1deg) scale(1.2);
	-webkit-transform: rotate(1deg) scale(1.2);
	-o-transform: rotate(1deg) scale(1.2);
	transform: rotate(1deg) scale(1.2);
}

/* END IMAGE STYLE */

/* ====================== END CONTENT ====================== */

/* ====================== START WIDGET ====================== */

.widget-box {
	padding:20px 0;
}

/* START WIDGET CATEGORY */

#footer ul.widget-category { 
	position:relative; 
	margin:0; 
	border-top:solid 1px #ddd;  
	border-bottom:solid 1px #fff;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
#footer ul.widget-category li { 
	display:block; 
	background:#f3f3f3;
	padding:8px; 
	border-bottom:solid 1px #ddd;  
	border-top:solid 1px #fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	position:relative; 
	cursor:pointer; 
	color:#4d4d4d; 
	font-family: 'Raleway',Verdana, Geneva, sans-serif;
}
#footer ul.widget-category li a, ul.widget-category li.cat-item{ 
	font-size:14px; 
	display:block; 
	color:#333;
}
#footer ul.widget-category li.cat-item a{ 
	display:inline; 
}
#footer ul.widget-category li:hover { 
	color:#d14a2b; 
	background:#eee;
}
#footer ul.widget-category li a:hover{ 
	color:#d14a2b;
}

/* END WIDGET CATEGORY */

/* START CALENDAR */

#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a { 
	background:#ccc; 
	color:#434343;
	font-family:'Raleway',Verdana, Geneva, sans-serif; 
}
#wp-calendar a:hover { 
	border:none;
}
#wp-calendar { 
	background: #f3f3f3; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14px; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
	font-family:'Raleway',Verdana, Geneva, sans-serif;
	padding:0; 
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14px; 
	color:#333;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14px; 
	color:#000;
	text-decoration:underline
}
#wp-calendar td#prev a, #wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}
#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #fafafa;
}

/* END CALENDAR */

/* START TAG CLOUD */

#sidebar .tagcloud a, 
#footer .tagcloud a { 
	display: inline-block; 
	padding: 4px 8px; 
	text-align: center; 
	font-family: 'Raleway',Verdana, Geneva, sans-serif; 
	font-size:12px !important; 
	color:#ddd; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	background:#ff6644;
	color:#fff;
	border:none;
	margin:0 0 4px 0;
}
#sidebar .tagcloud a:hover, 
#footer .tagcloud a:hover { 
	color: #fff; 
	background: #d14a2b;
}
#sidebar .tagcloud a { 
	font-size:14px !important; 
}

/* END TAG CLOUD */

/* ====================== END WIDGET ====================== */

/* SOCIAL ICONS */

.socials { 
	float:right;
}

.socials a { 
	display:inline-block; 
	margin: 0; 
	height:24px;
	width:24px;
	background:#444649;
	filter: none !important;
	text-align:center;
	line-height:24px;
	margin-bottom:5px;
}

.socials a:hover { 
	opacity: 0.7; 
	filter: alpha(opacity=70);
	border-bottom:none;
	color:#fff !important
}

.socials a.myspace { 
	background:url('assets/images/icons/social/myspace.png') no-repeat;
}

.tipsy { 
	padding: 5px; 
	font-size: 10px; 
	font-family: 'Raleway',Verdana, Geneva, sans-serif;
	opacity: 0.8; 
	filter: alpha(opacity=80); 
	background-repeat: no-repeat;  
	background-image: url(assets/images/icons/tipsy.gif);
}

.tipsy-inner { 
	padding: 5px 8px 4px 8px; 
	background-color: black; 
	color: white; 
	max-width: 200px; 
	text-align: center;
}
.tipsy-inner { 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	border-radius:3px;
}
.tipsy-north { 
	background-position: 
	top center;
}
.tipsy-south { 
	background-position: bottom center; 
	margin-top:-4px;
}
.tipsy-east { 
	background-position: right center;
}
.tipsy-west { 
	background-position: left center;
}

/* END SOCIAL ICONS */

/* PAGINATION */

.wp-pagenavi { 
	text-align: center; 
	position:relative;
    margin-bottom: 50px;
}
 
.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current { 
	display:inline-block;
	padding:10px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:21px;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-family: 'Raleway',Verdana, Geneva, sans-serif;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	background:#fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease
}

.wp-pagenavi a:hover , .wp-pagenavi span.current {
	color:#fff;
	background:#ff6644;
	text-decoration:none;
	border-bottom:none;
}

@media screen and (min-width : 0px) and (max-width : 992px)  {	

	.header-cart {
		display:none;
		visibility:hidden;
	}

	#sidebar .sidebar-box {
		padding:0;
	}
	
	nav#mainmenu {
		visibility:hidden;
		display:none;
	}
	.select-menu {
		display: inherit;
		visibility:inherit;
		width: 100%;
		height: 50px;
		padding: 8px 10px;
		background: #fafafa;
		color: #333;
		font-family: "Raleway", Times, serif; 
	}
	
	#sidebar, 
	.wp-pagenavi,
	.post-container { 
		margin-bottom:20px;
	}
	#footer{ 
		margin-top:25px;
	}
	
	.post-container .post-article { 
		padding:20px;
	}

	.read-more { 
		margin:10px 0 0 0;
	}
	
	.wp-caption { 
		width:100% !important; 
	}
	.wp-caption img { 
		margin: auto
	}
	
	#footer .copyright {
		margin:0;
		line-height:15px;
		padding:0;
	}
	.socials {
		float:none;
	}
	.socials a {
		margin:0 0 10px 0;
	}
	.widget-box {
		padding:20px;
	}
	
	#blog {
		margin-bottom:0;
	}
	
	.row.copyright .col-md-6, 
	.row.copyright .col-md-6{
		padding:10px 20px;
		text-align:center;
	}

	.line {
		border:none;
		background:none;
		margin:inherit;
		padding:0;
	}
	
	.line:before {
		background:none;
	}
	
	.entry-info {
		width:auto;
		background:none;
		position:relative
	}

	.entry-info .entry-date, 
	.entry-info .entry-comments,
	.entry-info .entry-author,
	.entry-info .entry-standard {
		display:block;
		text-align:center;
		width:inherit;
		padding:inherit;
		margin:5px auto;
	}
	.entry-info i  {
		line-height: 23px;
		position:absolute;
		left:0;
		margin:0;
		padding:0
	}
	.header select.select-menu {
		width:100%;
		margin-bottom:40px;
	}
	
	/* COMMENTS */
	
	.children li {
		margin-left:0;
	}
	
	.comment-avatar img {
		margin-right:15px;
	}
	
	.comment-text {
		margin:0;
		float:none;
		border:none;
		padding:0;
	}
	
	h3#reply-title, h3.comments {
		font-size:18px;
	}
	
	.gallery p{
		margin:0;
		display:none;
		visibility:hidden;
	}
	
	#footer .widget {
		margin-right: inherit;
	}
	.col-md-8.left-sidebar,
	.col-md-8.right-sidebar  {
		float:inherit;
	}
	
	#sidebar h3.title {
		font-size:22px;
		margin:0 0 15px 0;
	}
	.row.masonry {
		margin-bottom:0;
	}

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	

	.post-container h1.title {
		font-size:22px;
	}
	.post-container .quote blockquote p {
		font-size: 16px;
	}

}